/* main.css */
#map-container {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#map-container img {
    width: 100%;
    height: auto;
}

.pointer {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 30px;
    background: url('../icons/pointer.png') no-repeat center center;
    background-size: contain;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
