/* main.css */
#map-container { position: relative; width: 100%; height: 100vh; }
#map { width: 100%; height: 100%; background: url('../assets/images/map.png') no-repeat center center; background-size: cover; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0; 
  padding: 0;
  color: #333;
}

.navbar {
  background-color: #8c7853 !important;
}

.hero {
  background-image: url('hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .card {
  max-width: 80%;
  margin: 0 auto;
}

.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
}
